node_modules/
dist/
.env
.env.*
!.env.example
*.log
.DS_Store
Thumbs.db
.flatpak-builder
.claude
.pnpm-store/

# Tauri build output
src-tauri/target/
streaming/target
storage/target

storage/data
streaming/data

backend/snapshots

# IDE
.idea/

# FireBase
.firebase